body {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  padding: 50px 0;
}

.header-flex-outer {
  display: flex;
  justify-content: space-between;
}

.header-link {
  margin: 0 8px;
}