body {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  padding: 50px 0;
}

.registration-form-container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  * {
    box-sizing: border-box;
  }
}

.registration-flex-outer {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;

  li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    label {
      padding: 8px;
      font-weight: 300;
      letter-spacing: .05em;
      text-transform: uppercase;
    }

    .input {
      padding: 15px;
    }
  
  }

  & > li:not(:last-child) {
    margin-bottom: 20px;
  }

  & > li > label {
    flex: 1 0 120px;
    max-width: 150px;

    + * {
      flex: 1 0 220px;
    }
  }

  button {
    margin: 0 auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;  
  }
}